.cont{
 background: #000000;
background-color: #000000;
}
main{
    background: #000000;
   background-color: #000000;
   }
h2{
font-family: Montserrat;
font-size: 24;
font-weight: 600;
text-align: left;
color:  #FFFFFF;


   } 
   .photo{
    margin-bottom: 20px;
   }
h1,
h2,
h3,
h4,
h5,
h6,p{
margin: 0;
}
.lix{
    background:  #272727;
padding-top: 12px;
padding-bottom: 11px;
display: flex;
margin-top: 25px;
gap: 30px;
padding-left: 20px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.elips{
 width: 10px;
 height: 10px;
    background:  #5600E1;
    border-radius: 50%; 
}
.kola{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.li1{
    display: flex;
    align-items: center;
    gap: 10px;
}
h3{
    font-family: Montserrat;
font-size: 15px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.ert{
    margin-top: 10px;
    margin-bottom: 10px;
}
.did{
    font-family: "Bebas Neue", sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: #5600E1;
box-shadow: 4px 4px 20px 0px #5600E133;
width: 262px;

}
.olo{
    font-family: Montserrat;
font-size: 15px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
width: 276px;
height: 42px;


}
.olo1{
    font-family: Montserrat;
font-size: 15px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;


}
.popo{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.dead{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #5600E1;
}
.weew{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 272px;
}
.loio{
    position: absolute;

top: 616px;
left: 997px;

}
.wew{
  
background: #5600E1;
border: none;
padding-left: 14px;
padding-right: 14px;
padding-bottom: 16px;
padding-top: 16px;
}
.geog{
    display: flex;
    gap: 3px;
    margin-top: 13px;
}
.dere{
    margin-bottom: 12px;
}
.fofa{
    display: flex;
    justify-content: center;
padding-top: 60px;
padding-left: 200px;
padding-right: 200px;
padding-bottom: 100px;
}
.modal{
 
background: #272727;
margin-left: 50px;
padding-top: 30px;
padding-left: 20px;
padding-right: 20px;
height: 724px;
}
.sdas{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
text-align: right;
}
.weq{
    display: flex;
    gap: 56px;
    margin-top: 45px;
}
.doue{
    display: flex;
    gap: 12px;
    align-items: center;
}
.infa{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}
.teleg{
    border: 1px solid #FFFFFF;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 41px;
    padding-right: 41px;
    background: #090909;
    border-radius: 5px;
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
color: #FFFFFF;
justify-content: center;
    align-items: center;
}
.reye{
    display: flex;
    gap: 65px;
}
.rete{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.rese{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.naber{
    font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
color: #FFFFFF;

}
h5{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;

color: #A3A3A3;

}
.qwqwe{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.015em;
    text-align: left;    
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 278px;
    padding-bottom: 79px;
    background: #AAAAAA1A;
    border: none;
    margin-bottom: 30px;
    color: #FFFFFFB2;

}
.qwqwe::after{
    border: none;
}
.qwqwe::before{
    border: none;
}
.open{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.015em;
text-align: left;
color: #FFFFFF;

}
.svg-list{
    margin-top: 15px;
    gap: 24px;
    display: flex;
    margin-bottom: 30px;
}
.name{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.01em;
text-align: left;
background: #AAAAAA1A;
border: none;
padding-right: 199px;
color: #FFFFFFB2;
margin-right: 27px;
}
.fot{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.boot{
padding-top: 14px;
padding-bottom: 14px;
padding-left: 190px;
padding-right: 190px;
background: #5600E1;
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: -0.015em;
text-align: left;
color: #FFFFFF;
border: none;
}
.list1{
padding-top: 41px;
padding-bottom: 41px;
padding-right: 73px;
padding-left: 15px;
background: #272727;

}
.list2{
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 79px;
    padding-left: 15px;
    background: #272727;

}
.list3{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 48px;
    padding-left: 15px;
    background: #272727;

}
.list4{
    padding-bottom: 23px;
    padding-top: 23px;
    padding-right: 37px;
    padding-left: 15px;
    background: #272727;

}
.text1{
    font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color : #FFFFFF;
width: 262px;
height: 18px;
}
.text2{
    font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color : #FFFFFF;
width: 256px;
height: 54px;
}
.text3{
    font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
width: 287px;
height: 36px;

}
.text4{
    font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color : #FFFFFF;
width: 298px;
height: 54px;


}
.rot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
}
.hh{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 48px;
}
.vktl{
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.ande{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 284px;
}
footer{
   padding-left: 200px; 
   padding-right:200px ;
   padding-top: 40px;
   padding-bottom: 48px;
   background: #090909;
   border-top: 1px solid #454545;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.ser{
    display: flex;
    flex-direction: column;
    gap: 20px;
}